@font-face {
  font-family: FiraBold;
  src: url("../../assets/fonts/FiraCode-Bold.ttf");
}
@font-face {
  font-family: FiraSemiBold;
  src: url("../../assets/fonts/FiraCode-SemiBold.ttf");
}
@font-face {
  font-family: FiraMedium;
  src: url("../../assets/fonts/FiraCode-Medium.ttf");
}
@font-face {
  font-family: FiraRegular;
  src: url("../../assets/fonts/FiraCode-Regular.ttf");
}
@font-face {
  font-family: FiraLight;
  src: url("../../assets/fonts/FiraCode-Light.ttf");
}
@font-face {
  font-family: FiraRegular;
  src: url("../../assets/fonts/FiraCode-Regular.ttf");
}
// @font-face {
//   font-family: CascadiaCodeRegular;
//   src: url("../../assets/fonts/");
// }
// @font-face {
//   font-family: CascadiaCodeSemiLight;
//   src: url("./font/CascadiaCode/SemiLight.otf");
// }
// @font-face {
//   font-family: CascadiaCodeBold;
//   src: url("./font/CascadiaCode/Bold.otf");
// }