@import "../../../constants/scss/colors";
@import "../../../constants/scss/variables";
@import "../../../constants/scss/mixins";

.product-table-row {
  width: 100%;
  height: 4.5em;
  border-radius: 0.5em;
  justify-content: space-between;
  //   border-bottom: 0.1em solid lighten($color: $black, $amount: 50);
  &:nth-child(odd) {
    background-color: lighten($color: $black, $amount: 50);
  }

  .product-table-row-text,
  .actions {
    display: block;
    width: calc(85% / 8);
    margin-right: 0.2em;
    font-size: 1.2em;
    .action-icon {
      cursor: pointer;
      width: 2.8em;
      height: 2.8em;
      border-radius: 2em;
    }
  }
  .actions {
    display: flex;
    align-items: center;
  }
  .product-name {
    margin-right: auto;
    width: 15%;
    padding-left: 1em;
  }
}
