@import "../../../constants/scss/colors";
@import "../../../constants/scss/variables";
@import "../../../constants/scss/mixins";

.plan-container {
  text-align: center;
  border-radius: 1em;
  box-shadow: $shadow;
  background-image: linear-gradient(#151617ec, #626364e7);
  position: relative;
  width: 40%;
  padding: 2em 0;
  color: $white;
  margin: 1em;
  display: flex;
  flex-direction: column;
  @include small-laptop() {
    width: 50%;
  }
  @include tablet() {
    width: 60%;
  }
  @include smartphone() {
    width: 90%;
  }
  .plan-label {
    font-size: 2.3em;
    font-family: "FiraSemiBold";
  }
  .plan-price {
    font-size: 2em;
    font-family: "FiraMedium";
  }
  .plan-price-year {
    font-size: 1.2em;
    color: lighten($color: $black, $amount: 45);
    font-family: "FiraMedium";
  }
  .feature {
    margin: 0.5em 0;
  }
  .select-plan-btn {
    background-image: linear-gradient(#f5f6f7ec, #7b7b7ce7) !important;
    color: $black !important;
    font-size: 1.4em;
    height: 2.2em;
    width: 80%;
    margin: 0 auto;
    margin-top: auto;
    &:hover {
      background-image: linear-gradient(#151617ec, #626364e7) !important;
      color: $white !important;
    }
  }
  .pro-select-plan-btn {
    background-image: linear-gradient(#151617ec, #626364e7) !important;
    color: $white !important;
    &:hover {
      background-image: linear-gradient(#f5f6f7ec, #7b7b7ce7) !important;
      color: $black !important;
    }
  }
  .tag {
    position: absolute;
    top: -0.6em;
    right: -0.4em;
    left: 0;
    display: flex;
    justify-content: flex-end;
    .tag-btn {
      height: 2.2em;
      background-color: $danger !important;
      color: $white !important;
      font-size: 1.1em;
      width: 25%;
      box-shadow: $shadow;
      font-family: "FiraBold";
    }
  }
}
