@import "../../../constants/scss/colors";
@import "../../../constants/scss/variables";
@import "../../../constants/scss/mixins";

.branch-view {
  padding: 2em;
  .branch-view-head {
    .branch-name {
      font-size: 2em;
    }
    .branch-address {
      color: lighten($color: $black, $amount: 20);
    }
    .branch-view-head-controls {
      margin-left: auto;
      .branch-view-head-control-icon {
        cursor: pointer;
        width: 2.8em;
        height: 2.8em;
        border-radius: 2em;
      }
    }
  }
}
